[데이터 표준화]

수집된 데이터를 동일한 형태로 맞춰주는 것(단위 변환, 자료형 변환 등)

In [12]:
#모듈 로딩
import pandas as pd

In [13]:
#데이터 준비
file_name='auto_mpg.csv'

In [14]:
#csv -> df
mpgdf=pd.read_csv(file_name)
mpgdf

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [15]:
#데이터 기본 정보 확인
mpgdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [16]:
#컬럼과 실제 데이터 타입 확인
mpgdf.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [17]:
mpgdf.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [18]:
#컬럼별 데이터 분포 확인
mpgdf.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [19]:
#데이터 전처리_결측치 체크
mpgdf.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [20]:
#데이터 전처리_중복 데이터 체크
mpgdf.duplicated().sum()

0

In [21]:
#데이터 전처리_표준화(단위 변환):mpg -> kpl
mpgdf['kpl']=mpgdf.mpg*0.425144
mpgdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
 9   kpl           398 non-null    float64
dtypes: float64(4), int64(4), object(2)
memory usage: 31.2+ KB

In [22]:
#데이터 전처리_표준화(자료형 변환): horsepower object -> int
mpgdf['horsepower'].astype('int64')
mpgdf.info()

ValueError: invalid literal for int() with base 10: '?'

In [ ]:
mpgdf['horsepower'].value_counts()['?']

6

In [ ]:
mpgdf[mpgdf['horsepower']=='?'].index

Index([32, 126, 330, 336, 354, 374], dtype='object')

In [25]:
#데이터 변경 메서드: replace()
import numpy as np
mpgdf['horsepower'].replace('?',np.nan,inplace=True)

In [ ]:
mpgdf['horsepower'].value_counts()['?']

KeyError: '?'

In [ ]:
mpgdf.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
kpl             0
dtype: int64

In [ ]:
mpgdf2=mpgdf.dropna().copy()
mpgdf2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 393 entries, 0 to kpl
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           393 non-null    float64
 1   cylinders     393 non-null    int64
 2   displacement  393 non-null    float64
 3   horsepower    393 non-null    object
 4   weight        393 non-null    int64
 5   acceleration  393 non-null    float64
 6   model year    393 non-null    int64
 7   origin        393 non-null    int64
 8   car name      393 non-null    object
 9   kpl           393 non-null    float64
dtypes: float64(4), int64(4), object(2)
memory usage: 33.8+ KB

In [ ]:
mpgdf2['horsepower']=mpgdf2['horsepower'].astype('int64')
mpgdf2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 393 entries, 0 to kpl
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           393 non-null    float64
 1   cylinders     393 non-null    int64
 2   displacement  393 non-null    float64
 3   horsepower    393 non-null    int64
 4   weight        393 non-null    int64
 5   acceleration  393 non-null    float64
 6   model year    393 non-null    int64
 7   origin        393 non-null    int64
 8   car name      393 non-null    object
 9   kpl           393 non-null    float64
dtypes: float64(4), int64(5), object(1)
memory usage: 33.8+ KB

In [ ]:
#컬럼별 데이터 특성 확인 후 자료형 변환: cylinders, origin -> 데이터 분류&그룹화 가능 -> 범주형 데이터로 자료형 변환 필요
mpgdf2['cylinders']=mpgdf2['cylinders'].astype('category')
mpgdf2['origin']=mpgdf2['origin'].astype('category')
mpgdf2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 393 entries, 0 to kpl
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           393 non-null    float64
 1   cylinders     393 non-null    category
 2   displacement  393 non-null    float64
 3   horsepower    393 non-null    int64
 4   weight        393 non-null    int64
 5   acceleration  393 non-null    float64
 6   model year    393 non-null    int64
 7   origin        393 non-null    category
 8   car name      393 non-null    object
 9   kpl           393 non-null    float64
dtypes: category(2), float64(4), int64(3), object(1)
memory usage: 36.9+ KB

In [ ]:
#컬럼별 데이터 특성 확인 후 자료형 변환: horsepower -> 저출력/일반출력/고출력 범주형 데이터로 자료형 변환 w.cut() 메서드
hp=pd.cut(mpgdf2['horsepower'],bins=3,labels=['저출력','일반출력','고출력'])

In [ ]:
mpgdf2['horsepower_range']=hp
mpgdf2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 393 entries, 0 to kpl
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mpg               393 non-null    float64
 1   cylinders         393 non-null    category
 2   displacement      393 non-null    float64
 3   horsepower        393 non-null    int64
 4   weight            393 non-null    int64
 5   acceleration      393 non-null    float64
 6   model year        393 non-null    int64
 7   origin            393 non-null    category
 8   car name          393 non-null    object
 9   kpl               393 non-null    float64
 10  horsepower_range  393 non-null    category
dtypes: category(3), float64(4), int64(3), object(1)
memory usage: 37.4+ KB

[문자열 데이터 분리-컬럼 분리]

조건: 데이터가 str이어야 함

형식: series.str.split()

In [ ]:
names=mpgdf2['car name'].str.split()
names.head(3)

0    [chevrolet, chevelle, malibu]
1            [buick, skylark, 320]
2            [plymouth, satellite]
Name: car name, dtype: object

In [ ]:
names.get(0)

['chevrolet', 'chevelle', 'malibu']

In [ ]:
names=mpgdf2['car name'].str.upper().str.split()
names

0      [CHEVROLET, CHEVELLE, MALIBU]
1              [BUICK, SKYLARK, 320]
2              [PLYMOUTH, SATELLITE]
3                  [AMC, REBEL, SST]
4                     [FORD, TORINO]
                   ...
394                     [VW, PICKUP]
395                 [DODGE, RAMPAGE]
396                   [FORD, RANGER]
397                    [CHEVY, S-10]
kpl                              NaN
Name: car name, Length: 393, dtype: object

In [ ]:
#나눠진 문자열을 하나씩 컬럼으로 분리
mpgdf2['car name'].str.split(expand=True)

             0          1       2     3     4     5
0    chevrolet   chevelle  malibu  None  None  None
1        buick    skylark     320  None  None  None
2     plymouth  satellite    None  None  None  None
3          amc      rebel     sst  None  None  None
4         ford     torino    None  None  None  None
..         ...        ...     ...   ...   ...   ...
394         vw     pickup    None  None  None  None
395      dodge    rampage    None  None  None  None
396       ford     ranger    None  None  None  None
397      chevy       s-10    None  None  None  None
kpl        NaN        NaN     NaN   NaN   NaN   NaN

[393 rows x 6 columns]

In [ ]:
namesdf=mpgdf2['car name'].str.split(expand=True,n=2)
namesdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 393 entries, 0 to kpl
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       392 non-null    object
 1   1       390 non-null    object
 2   2       194 non-null    object
dtypes: object(3)
memory usage: 20.4+ KB

[데이터프레임 연결하기]

pandas.concat([df1,df2,...])

In [ ]:
df3=pd.concat([mpgdf2,namesdf],axis=1)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 393 entries, 0 to kpl
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mpg               393 non-null    float64
 1   cylinders         393 non-null    category
 2   displacement      393 non-null    float64
 3   horsepower        393 non-null    int64
 4   weight            393 non-null    int64
 5   acceleration      393 non-null    float64
 6   model year        393 non-null    int64
 7   origin            393 non-null    category
 8   car name          393 non-null    object
 9   kpl               393 non-null    float64
 10  horsepower_range  393 non-null    category
 11  0                 392 non-null    object
 12  1                 390 non-null    object
 13  2                 194 non-null    object
dtypes: category(3), float64(4), int64(3), object(4)
memory usage: 46.6+ KB

In [ ]:
#행 방향 연결 시 인덱스 다시 정리 필요 => ignore_index=True
df4=pd.concat([mpgdf2,namesdf],ignore_index=True)
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786 entries, 0 to 785
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mpg               393 non-null    float64
 1   cylinders         393 non-null    category
 2   displacement      393 non-null    float64
 3   horsepower        393 non-null    float64
 4   weight            393 non-null    float64
 5   acceleration      393 non-null    float64
 6   model year        393 non-null    float64
 7   origin            393 non-null    category
 8   car name          393 non-null    object
 9   kpl               393 non-null    float64
 10  horsepower_range  393 non-null    category
 11  0                 392 non-null    object
 12  1                 390 non-null    object
 13  2                 194 non-null    object
dtypes: category(3), float64(7), object(4)
memory usage: 70.5+ KB

In [ ]:
df4.tail(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,kpl,horsepower_range,0,1,2
784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chevy,s-10,None
785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN