[그룹화 처리]

타이타닉에서 선실 등급에 따른 생존 비율 분석

In [16]:
import pandas as pd
import df_util as util

In [17]:
file_name='titanic.csv'

In [18]:
df=pd.read_csv(file_name)

In [19]:
util.checkdf(df,'df')

[df]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
[index]:RangeIndex(start=0, stop=891, step=1)
[columns]:Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
[ndim]:2

In [20]:
df.survived.astype('bool')

0      False
1       True
2       True
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: survived, Length: 891, dtype: bool

In [21]:
p_survive=df[['pclass','survived']]

In [22]:
p_survive.isna().sum()

pclass      0
survived    0
dtype: int64

In [23]:
groupobj=p_survive.groupby('pclass')

In [24]:
print(groupobj.groups.keys())
print(groupobj.groups.values())

dict_keys([1, 2, 3])
dict_values([Index([  1,   3,   6,  11,  23,  27,  30,  31,  34,  35,
       ...
       853, 856, 857, 862, 867, 871, 872, 879, 887, 889],
      dtype='int64', length=216), Index([  9,  15,  17,  20,  21,  33,  41,  43,  53,  56,
       ...
       848, 854, 861, 864, 865, 866, 874, 880, 883, 886],
      dtype='int64', length=184), Index([  0,   2,   4,   5,   7,   8,  10,  12,  13,  14,
       ...
       875, 876, 877, 878, 881, 882, 884, 885, 888, 890],
      dtype='int64', length=491)])

In [25]:
groupobj.get_group(1)

     pclass  survived
1         1         1
3         1         1
6         1         0
11        1         1
23        1         1
..      ...       ...
871       1         1
872       1         0
879       1         1
887       1         1
889       1         1

[216 rows x 2 columns]

In [26]:
for key in groupobj.groups.keys():
    print(f'\n[{key}]')
    print(groupobj.get_group(key).ndim,groupobj.get_group(key).shape)

[1]
2 (216, 2)

[2]
2 (184, 2)

[3]
2 (491, 2)

In [27]:
groupobj.count()

        survived
pclass
1            216
2            184
3            491