데이터 활용_전치
- 행 <-> 열
- 메서드: .transpose()
- 속성:.T

In [15]:
#모듈 로딩
import pandas as pd

In [16]:
#데이터 준비
file_name='data.csv'

In [17]:
#csv -> df
csvdf=pd.read_csv(file_name)

In [31]:
#df 형태 변경: 행 <-> 열
print('변경 전',csvdf.index,csvdf.columns,csvdf,sep='\n')

csvdf=csvdf.T
print('\n변경 후',csvdf.index,csvdf.columns,sep='\n')
csvdf

변경 전
RangeIndex(start=0, stop=5, step=1)
Index(['no', 'name', 'age', 'gender'], dtype='object')
  no  name age gender
0  1  hong  10      f
1  2  park  13      f
2  3   kim  12      m
3  4   lee  16      f
4  5   lim  15      m

변경 후
Index(['no', 'name', 'age', 'gender'], dtype='object')
RangeIndex(start=0, stop=5, step=1)

           0     1    2    3    4
no         1     2    3    4    5
name    hong  park  kim  lee  lim
age       10    13   12   16   15
gender     f     f    m    f    m

In [32]:
csvdf=csvdf.transpose()
print('\n변경 후',csvdf.index,csvdf.columns,sep='\n')
csvdf

변경 후
RangeIndex(start=0, stop=5, step=1)
Index(['no', 'name', 'age', 'gender'], dtype='object')

  no  name age gender
0  1  hong  10      f
1  2  park  13      f
2  3   kim  12      m
3  4   lee  16      f
4  5   lim  15      m