데이터프레임 인덱스 다루기

특정 열을 행 인덱스로 설정: df.set_index(열 인덱스,inplace=False)

In [1]:
#모듈 로딩
import pandas as pd

In [2]:
#데이터 준비
jumsu={'name':['마징가','태권V','원더우먼'],'kor':[89,100,99],'eng':[70,80,90],'math':[99,88,77]}

In [4]:
#딕셔너리 -> df
jumsudf=pd.DataFrame(jumsu)
jumsudf

   name  kor  eng  math
0   마징가   89   70    99
1   태권V  100   80    88
2  원더우먼   99   90    77

In [7]:
#name -> 행 인덱스
df2=jumsudf.set_index('name')
df2

      kor  eng  math
name
마징가    89   70    99
태권V   100   80    88
원더우먼   99   90    77

In [6]:
jumsudf

   name  kor  eng  math
0   마징가   89   70    99
1   태권V  100   80    88
2  원더우먼   99   90    77

In [8]:
#df2 행/열 인덱스 확인
print(df2.index,df2.columns,sep='\n')

Index(['마징가', '태권V', '원더우먼'], dtype='object', name='name')
Index(['kor', 'eng', 'math'], dtype='object')

In [10]:
#데이터 추출: 마징가의 성적(행) 추출 => .loc/ .iloc => series 추출
print(df2.loc['마징가'])
print(df2.iloc[0])

kor     89
eng     70
math    99
Name: 마징가, dtype: int64
kor     89
eng     70
math    99
Name: 마징가, dtype: int64

In [11]:
#데이터 추출: 마징가,원더우먼의 성적(행) 추출 => .loc/ .iloc => df 추출
print(df2.loc[['마징가','원더우먼']])
print(df2.iloc[[0,2]])

      kor  eng  math
name
마징가    89   70    99
원더우먼   99   90    77
      kor  eng  math
name
마징가    89   70    99
원더우먼   99   90    77

In [12]:
#영어 점수 -> 행 인덱스
df3=jumsudf.set_index('eng')
df3

     name  kor  math
eng
70    마징가   89    99
80    태권V  100    88
90   원더우먼   99    77

In [13]:
#name,eng 컬럼 -> 행 인덱스
df4=jumsudf.set_index(['name','eng'])
df4

          kor  math
name eng
마징가  70    89    99
태권V  80   100    88
원더우먼 90    99    77

In [14]:
print(df4.index)

MultiIndex([( '마징가', 70),
            ( '태권V', 80),
            ('원더우먼', 90)],
           names=['name', 'eng'])

In [15]:
#멀티인덱스에서 행 추출
df4.loc[('마징가',70)]

kor     89
math    99
Name: (마징가, 70), dtype: int64

In [16]:
df4.loc[('마징가',79)]

KeyError: 79