series 연산

원소 값이 비어있거나

인덱스가 서로 다른 series-series 연산

In [24]:
#모듈 로딩
import pandas as pd
import math
import numpy as np

In [25]:
#비어있다는 의미를 나타내는 문자 w. math모듈, numpy 패키지
math.nan , np.nan

(nan, nan)

In [26]:
#데이터 준비
bibibig=[13,600,np.nan,1500]
melona=[32,700,1200,1500]

In [27]:
#1차원 list -> series
sr1=pd.Series(bibibig)
sr2=pd.Series(melona)

In [28]:
print(sr1,sr2,sep='\n\n')

0      13.0
1     600.0
2       NaN
3    1500.0
dtype: float64

0      32
1     700
2    1200
3    1500
dtype: int64

In [29]:
#연산 수행(series+숫자)_산술 연산
sr1+5

0      18.0
1     605.0
2       NaN
3    1505.0
dtype: float64

In [30]:
#연산 수행(series+숫자)_비교 연산
sr1>=5

0     True
1     True
2    False
3     True
dtype: bool

In [31]:
#연산 수행(series+series)_산술 연산
sr1*sr2

0        416.0
1     420000.0
2          NaN
3    2250000.0
dtype: float64

In [32]:
#연산 수행(series+series)_비교 연산
sr1!=sr2

0     True
1     True
2     True
3    False
dtype: bool

In [33]:
#인덱스 변경: [0,1,2,3] -> [0,2,3,4]
sr3=sr2.rename(index={1:2,2:3,3:4})
sr3

0      32
2     700
3    1200
4    1500
dtype: int64

In [34]:
#연산 수행(인덱스가 서로 다른 series+series)_산술 연산
sr2+sr3

0      64.0
1       NaN
2    1900.0
3    2700.0
4       NaN
dtype: float64

In [35]:
sr3=sr3.reset_index(drop=True)

In [36]:
sr2>sr3

0    False
1    False
2    False
3    False
dtype: bool

In [39]:
#nan 연산 수행을 위한 메서드: .add
sr1.add(sr2,fill_value=0.)

#fill_value: nan 값 지정

0      45.0
1    1300.0
2    1210.0
3    3000.0
dtype: float64

In [42]:
#인덱스가 다른 series 연산 시 메서드 사용
sr3=sr2.rename(index={1:2,2:3,3:4})

In [43]:
sr2.add(sr3,fill_value=0.)

0      64.0
1     700.0
2    1900.0
3    2700.0
4    1500.0
dtype: float64