In [1]:
import pandas as pd

In [3]:
s=pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [4]:
s=pd.Series(data=['Wes McKinney','Creator of Pandas'],index=['Person','Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [5]:
scientists=pd.DataFrame({'name':['Rosaline Franklin','Willian Gosset'],
                        'Ocuupation':['Chemist','Statistician'],
                        'Born':['1920-07-25','1876-06-13'],
                        'Died':['1958-04-16','1937-10-16'],
                        'Age':[37,61]})
print(scientists)

                name    Ocuupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     Willian Gosset  Statistician  1876-06-13  1937-10-16   61

In [6]:
scientists=pd.DataFrame(data={'Occupation':['Chemist','statistician'],
                              'Born':['1920-07-25','1876-0613'],
                              'Died':['1958-04-16','1937-10-16'],
                              'Age':[37,61]},
                        index=['Rosaline Franklin','William Gosset'],
                         columns=['Occupation','Born','Died','Age'])
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     statistician   1876-0613  1937-10-16   61

In [7]:
first_row=scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [8]:
print(first_row)

Occupation    statistician
Born             1876-0613
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [9]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [10]:
print(first_row.values)

['statistician' '1876-0613' '1937-10-16' 61]

In [11]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [13]:
print(first_row.index[0])

Occupation

In [14]:
print(first_row.keys()[0])

Occupation

In [15]:
ages=scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [16]:
print(ages.mean())

49.0

In [17]:
print(ages.min())

37

In [18]:
print(ages.max())

61

In [19]:
print(ages.std())

16.97056274847714

In [20]:
scientists=pd.read_csv(r"C:\Users\desktop\Desktop\Downloads\scientists.csv")

In [21]:
ages=scientists['Age']
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [22]:
print(ages.describe())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [23]:
print(ages.mean())

59.125

In [24]:
print(ages[ages>ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [25]:
print(ages>ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [26]:
print(type(ages>ages.mean()))

<class 'pandas.core.series.Series'>

In [27]:
manual_bool_values=[True,True,False,False,True,True,False,True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [28]:
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [29]:
print(ages*ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [30]:
print(ages+100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [31]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [32]:
print(ages+pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [33]:
import numpy as np

In [34]:
print(ages+np.array([1,100]))

ValueError: operands could not be broadcast together with shapes (8,) (2,)

In [35]:
rev_ages=ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [36]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [37]:
print(ages+rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [38]:
scientists.index

RangeIndex(start=0, stop=8, step=1)

In [39]:
scientists.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [40]:
scientists.values

array([['Rosaline Franklin', '1920-07-25', '1958-04-16', 37, 'Chemist'],
       ['William Gosset', '1876-06-13', '1937-10-16', 61, 'Statistician'],
       ['Florence Nightingale', '1820-05-12', '1910-08-13', 90, 'Nurse'],
       ['Marie Curie', '1867-11-07', '1934-07-04', 66, 'Chemist'],
       ['Rachel Carson', '1907-05-27', '1964-04-14', 56, 'Biologist'],
       ['John Snow', '1813-03-15', '1858-06-16', 45, 'Physician'],
       ['Alan Turing', '1912-06-23', '1954-06-07', 41,
        'Computer Scientist'],
       ['Johann Gauss', '1777-04-30', '1855-02-23', 77, 'Mathematician']],
      dtype=object)

In [41]:
print(scientists.loc[scientists['Age']>scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [42]:
first_half=scientists[:4]
second_half=scientists[4:]
print(first_half)

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [43]:
print(second_half)

            Name        Born        Died  Age          Occupation
4  Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5      John Snow  1813-03-15  1858-06-16   45           Physician
6    Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7   Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [44]:
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [45]:
df1=df2=pd.DataFrame(data=[[1,2,3],[4,5,6],[7,8,9]])
df_added=df1.add(df2)
print(df_added)

    0   1   2
0   2   4   6
1   8  10  12
2  14  16  18