csv파일 df로 저장
- pandas.read_csv() 함수 사용
- 항상 파일 열어서 첫줄(header), 구분자(sep) 뭔지 확인해서 설정해줘야 함

In [28]:
#모듈 로딩
import pandas as pd

In [29]:
#데이터 준비 w.파일
data_file=r'C:\Users\desktop\EX_PANDAS 06\day02\data.csv'
data_file1=r'C:\Users\desktop\EX_PANDAS 06\day02\data1.csv'

In [30]:
#csv 파일 -> df로 저장
csvdf=pd.read_csv(data_file)
csvdf1=pd.read_csv(data_file1,sep=' ',header=None)

In [31]:
#저장된 df 확인
csvdf

   no  name  age gender
0   1  hong   10      f
1   2  park   13      f
2   3   kim   12      m
3   4   lee   16      f
4   5   lim   15      m

In [32]:
csvdf1

   0     1   2  3
0  1  hong  10  f
1  2  park  13  f
2  3   kim  12  m
3  4   lee  16  f
4  5   lim  15  m

In [33]:
csvdf1.columns

Index([0, 1, 2, 3], dtype='int64')

In [34]:
csvdf.columns

Index(['no', 'name', 'age', 'gender'], dtype='object')