dataframe에서 원소/요소 읽기
1. 행/열 읽기
2. 행과 열이 교차하는 지점의 원소/요소 읽기

In [1]:
#모듈 로딩
import pandas as pd

In [2]:
#데이터 준비
jumsu=[[98,99,100],[67,81,80]]

In [3]:
#2차원 데이터를 df로 저장
df1=pd.DataFrame(jumsu)

In [4]:
#행/열 인덱스 속성으로 지정
#행: 김경태, 안효준
#열: 음악,영어,무용
df1.index=['김경태','안효준']
df1.columns=['음악','영어','무용']

In [5]:
df1

     음악  영어   무용
김경태  98  99  100
안효준  67  81   80

열(columns) 선택: 변수명[컬럼명/컬럼 인덱스]

In [9]:
#영어 과목 점수만 추출
print(df1['영어'],type(df1['영어']),sep='\n\n')

김경태    99
안효준    81
Name: 영어, dtype: int64

<class 'pandas.core.series.Series'>

In [10]:
#무용 과목 점수만 추출
df1.무용  #= df1['무용']

김경태    100
안효준     80
Name: 무용, dtype: int64

In [13]:
#음악, 무용 column 추출
df1[['음악','무용']]

     음악   무용
김경태  98  100
안효준  67   80

In [14]:
df1['음악':'무용']

Empty DataFrame
Columns: [음악, 영어, 무용]
Index: []

슬라이싱 방식으로는 column 추출 불가

In [18]:
print(df1.columns, df1.columns[1:], df1.columns[::2],sep='\n')
df1[df1.columns[::2]]

Index(['음악', '영어', '무용'], dtype='object')
Index(['영어', '무용'], dtype='object')
Index(['음악', '무용'], dtype='object')

     음악   무용
김경태  98  100
안효준  67   80

행(row) 선택:변수명.iloc[행인덱스], 변수명.loc[행인덱스]

In [11]:
df1.iloc[0]

음악     98
영어     99
무용    100
Name: 김경태, dtype: int64

변수명.iloc[ ]: 정수 인덱스만 가능

In [12]:
df1.loc['김경태']

음악     98
영어     99
무용    100
Name: 김경태, dtype: int64

In [19]:
#여러 개 행 추출
df1.loc[['안효준','김경태']]

     음악  영어   무용
안효준  67  81   80
김경태  98  99  100

In [24]:
print(df1.index, df1.index[1:], df1.index[::-1],sep='\n')
df1.loc[df1.index[::-1]]

Index(['김경태', '안효준'], dtype='object')
Index(['안효준'], dtype='object')
Index(['안효준', '김경태'], dtype='object')

     음악  영어   무용
안효준  67  81   80
김경태  98  99  100

원소/요소 추출: 변수명.iloc[정수인덱스][열인덱스]

                 변수명.loc[행인덱스][열인덱스]

In [25]:
#김경태님의 영어 점수 추출
df1['김경태']['영어']

KeyError: '김경태'

In [26]:
df1.loc['김경태']['영어']

99

In [27]:
df1.iloc[0]

음악     98
영어     99
무용    100
Name: 김경태, dtype: int64

In [29]:
df1.iloc[0]['영어']

99

In [30]:
df1.iloc[0][1]

C:\Users\desktop\AppData\Local\Temp\ipykernel_12968\791845183.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1.iloc[0][1]

99

원소/요소 추출: 변수명.iloc[정수인덱스,열인덱스]

                 변수명.loc[행인덱스,열인덱스]

In [32]:
#김경태님의 영어 점수 추출
df1.iloc[0,1]

99

In [36]:
df1.iloc[0,'영어']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

df.iloc[정수 인덱스, 정수 인덱스] 만 가능

[정수 인덱스, 글자 인덱스] 불가

In [37]:
df1.loc['김경태','영어']

99

In [39]:
#김경태님의 영어,무용 점수 추출
df1.loc['김경태',['영어','무용']]

영어     99
무용    100
Name: 김경태, dtype: int64

In [43]:
#김경태님의 영어,무용 점수 추출
df1.loc['김경태'][['영어','무용']]

영어     99
무용    100
Name: 김경태, dtype: int64

In [45]:
#김경태님의 영어,무용 점수 추출
df1.loc['김경태','영어':'무용']

영어     99
무용    100
Name: 김경태, dtype: int64

In [47]:
df1.loc[:,'음악']

김경태    98
안효준    67
Name: 음악, dtype: int64

In [48]:
df1.loc[df1.index,'음악']

김경태    98
안효준    67
Name: 음악, dtype: int64