dict 데이터로 df 저장

In [1]:
#모듈 로딩
import pandas as pd

In [2]:
#데이터 준비
jumsu={'국어':[89,91],'수학':[88,90],'음악':[100,98]}

In [3]:
#df 형태로 데이터 저장
df1=pd.DataFrame(jumsu)

In [4]:
#df 형태로 저장된 데이터 확인
print(df1)

   국어  수학   음악
0  89  88  100
1  91  90   98

속성으로 행 인덱스 변경: 변수명.index=새로운 인덱스명

In [5]:
#현재 인덱스: 0,1 => 이름으로 변경
df1.index=['마징가','홍길동']

In [6]:
df1

     국어  수학   음악
마징가  89  88  100
홍길동  91  90   98

In [7]:
#국어,수학,음악 -> 국어,미술,과학
df1.columns=['국어','미술','과학']

#일부만 수정하더라도 적긴 다 적어야 한다..!

In [8]:
df1

     국어  미술   과학
마징가  89  88  100
홍길동  91  90   98

In [9]:
#값을 저장하고 있는 속성: values
df1.values

array([[ 89,  88, 100],
       [ 91,  90,  98]], dtype=int64)

In [10]:
df1.values=[[89,78,100],[91,90,98]]

C:\Users\desktop\AppData\Local\Temp\ipykernel_9780\168097630.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df1.values=[[89,78,100],[91,90,98]]

AttributeError: can't set attribute

값/데이터 변경은 속성으로 불가

ex) df.values, df.shape 로는 변경할 수 업따...!